:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #f4f4f6;
  color: rgba(0, 0, 0, 0.75);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.hidden {
  display: none;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.container {
  height: 100vh;

  display: grid;
  grid-template-areas: 'input output';
  grid-template-columns: 1fr 3fr;
}
.input-contaner {
  grid-area: input;
  display: flex;
  justify-content: center;
  background-color: #213547;
  align-items: center;
}
.output-container {
  grid-area: output;
}
#personal {
  grid-area: personal;
}
#experience {
  grid-area: experience;
}
#education {
  grid-area: education;
}
.box-container {
  grid-area: container;
}
.cv-template {
  grid-area: cv;
}
.top-button-container {
  grid-area: control;
}
@media (max-width: 450px) {
  .container {
    grid-template-areas:
      'input'
      'output';
    grid-template-columns: 1fr;
  }
}
