*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.cv-template {
  display: flex;
  flex-direction: column;
  border: 2px solid orange;
  height: 100vh;
  margin: 1rem 2rem;
  line-height: 2rem;
}

.personal-output {
  background-color: #0e374e;
  color: white;
  padding: 1rem 2rem;
}

#name-output {
  text-align: center;
  font-weight: 700;
}
.contact-details {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.section-title {
  text-align: center;
  background-color: #eef1f2;
  font-weight: 550;
}
.cv-section {
  background-color: white;
  padding: 1rem 2rem;
}
.sub-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
